
*.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Daily_glider_models_comparisons.iml
.DS_Store
*.nc
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/hurricanes.iml
*.png
*.zip
*.DS_Store
*.xml
*-checkpoint.ipynb
.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json
scratches/apps/.ipynb_checkpoints/Untitled-checkpoint.ipynb
hurricanes.egg-info/*
scratches/
notebooks/
ioos_model_comparisons/hycom/__init__.py
ioos_model_comparisons/hycom/info.py
ioos_model_comparisons/hycom/io.py
scripts/harvest/grab_fronts.py
scripts/profiles/argo/synchronous/oneoffs/
pyhycom/
2024_caribbean_gliders.csv
2024_gliders_caribbean.csv
2024_gom_gliders.csv
caribbean_argo_2024.csv
gliders.csv
gom_argo_2024.csv
ioos_model_comparisons.egg-info/