numpy~=1.20.1
pandas~=1.2.3
xarray~=0.17.0
cftime~=1.5.0
erddapy~=0.9.0
cartopy~=0.18.0
cmocean~=2.0
matplotlib~=3.3.4
oceans~=0.8.1
requests~=2.25.1
tqdm~=4.58.0
scipy~=1.6.1
setuptools~=52.0.0
beautifulsoup4~=4.9.3